*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90px;
    height: 60px;
    background-color: rgb(130, 127, 230);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 214, 223);
    width: 400px;
    height: 200px;
    border-style: solid;
}
